<div class="container position-relative px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <div class="post-preview">
        <h2 class="post-title"><%= @post.title %></h2>
        <p class="post-subtitle"><%= @post.body %></p>
        <p class="post-meta">
          Posted by
          <%= current_user == @post.user ? 'You' : @post.user.full_name %>
          <%= time_ago_in_words @post.created_at %> ago
        </p>
      </div>
      <% if policy(@post).update? %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
      <% end %>
      <%= link_to 'Back', request.referer %>
    </div>
  </div>
</div>
